<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8" />
   <title>Syntax_BeautifierOTHERS 1.0</title>
   <meta name="author" content="kawesolo" />
   <meta name="description" content="Tool for the Amazon GDN & IAS node." />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
 </head>
<body>
<header><center>
<h2>Syntax_BeautifierOTHERS 1.0</h2>
How this tool works:<br>
1. If AttributesContain have <b>less than 3 attributes</b> and <b>don't have distancer</b>, it will become <b>ISC</b><br>
2. If AttributesContain have <b>less than 3 attributes</b> and <b>have distancer</b>, it will become <b>SpecialKeyword</b> with distancer broaden to <b>:any:</b><br>
3. Moreover, <b>all distancers</b> will get broaden to <b>:any:</b><br><br>
<h4>Initial syntax:</h4>
</center>
</header>
<form method="POST">
<center><textarea name="text" rows="10" cols="80"></textarea>
<br>
<input type="submit" class="btn btn-success"><br><br>
For further ideas or encountered bugs contact me at
<a href="mailto:kawesolo@amazon.pl" target="_blank">kawesolo@amazon.pl</a>
</center>
</form>
</body>
</html>